*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a7ee1, #632686);
}
.hero{
    min-height: 200px;

    min-width: 500px;
    border: 3px solid black;
    transform: translatey(-120px);
    border-radius: 20px;
    position: relative;
    background-color: #f4efef;
}

.button {
    position: relative;
    top: 40px;
    left: 90px;
    display: flex;
    gap: 0px;
}
.btn1{
    height: 35px;
    width: 45%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #c0b4b4;
}
.btn2 {
  position: relative;         
  height: 35px;
  width: 80px;
  border: none;
  left: -20px;
  background-color: #f48572;
  color: white;
  border-radius: 20px;
  cursor: pointer;

}

.btn1 p{
    position:absolute;
    top: 3px;
    left: 4px;
}
.hero h1{
    position: relative;
    top: 2px;
    left: 10px;
}

.task {
    margin-top: 50px; /* instead of position top/left */
    padding-left: 40px; /* adjust alignment */
    margin-left: 80px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 13px 50px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    background-image: url(unchecked-checkbox-561685.webp);
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(icon-checked-10.jpg);
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: gray;

}